{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "awsl-telegram-storage",
  "main": "src/index.ts",
  "compatibility_date": "2025-12-12",
  "compatibility_flags": [
    "nodejs_compat"
  ],
  "routes": [
    { "pattern": "your-domain.example.com", "custom_domain": true }
  ]
}
